body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Pixelify Sans', sans-serif;
}

#canvas1 {
    display: block;
    background-color: #2C2C2C;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);

}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

